.job_root{
    padding:24px;
    width:  380px;
    border-radius: 25px !important;
}


.header{
 display: flex;
 gap:16px;
}

.img_wrapper{
    width: 60px;
    overflow: hidden;
}

.img_wrapper > img{
    width: 100%;
    object-fit: contain;
}

.comp_name{
    font-size: 16px !important;
    color: #7e7e7e !important;
    font-weight: 600 !important;
}
.role{
    font-size: 18px !important;
    color: #0d0d0d !important;
    font-weight: 400 !important;
}

.location {
    font-size: 14px !important;
    color: #0d0d0d !important;
    font-weight: 400 !important;
}

.salary{
    margin-top: 16px;
}

.salary_cont{
 font-size: 20px !important;
 font-weight: 600 !important;
 color: #4b4b4b !important;
}


.about{
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #4b4b4b !important;
   }


   .about_us{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #0d0d0d !important;
   }
.content_wrapper{
    margin-top: 8px ;
}

.content{

}